<div>
    <h2>Experience</h2>
    <div>
      <nz-input-group nzCompact>
        <input
          #myLocalRef
          nz-input
          placeholder="your experience"
          [(ngModel)]="newExperience"
          type="text"
          style="width: 80%"
        />
        <button
          [disabled]="!newExperience"
          nz-button
          nzType="primary"
          (click)="onNewExperience()"
          style="width: 20%"
        >
          Add new
        </button>
      </nz-input-group>
    </div>
    <ul>
      <li *ngFor="let experienceLine of experience">
        {{ experienceLine }}
      </li>
    </ul>
  
    <ng-content></ng-content>
    <div style="color: red">
      <ng-content select="[morestuff]"></ng-content>
    </div>
  </div>
